<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>

<body>
	<%- include('partials/header.ejs') %>
	<div id="root">
		<main class="loading">
			<a class="playlist">
				<article>
					<h3><%= playlist.name %></h3>
					<img src="<%= playlist.images[0] ? playlist.images[0].url : './assets/images/music-icon.png' %>" alt="">
				</article>
			</a>
			<div class="loading-animation">
				<h1>Loading...</h1>
				<div class="loading-music">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
		</main>
	</div>
	<%- include('partials/script.ejs') %>
</body>
</html>